<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/edit.css">
    <script src="js/profile.js"></script>

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        Edit - <%=displayName%>
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <h1>edit page for /<%=username%>
        </h1>

        <p id="username">Username: <%=username%>
        </p>
        <p id="verified">Verified: </p>
        <p id="paid">Paid: </p>
        <p id="subExpires">Subscription Expires: <%=subExpires%>
        </p>
        <p id="displayName">Display Name: <%=displayName%>
        </p>
        <p id="bio">Bio: <%=bio%>
        </p>
        <p>Image:</p>
        <img src="<%=image%>" alt="profile image" id="pfp">

        <form action="/edit" method="POST">
            <div>
                <label for="displayName">Display Name</label>
                <input type="text" id="displayName" name="displayName" value="<%=displayName%>" maxlength="30" required>
            </div>
            <div>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" value="<%=bio%>" maxlength="140" required>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" id="image" name="image" value="<%=image%>" required>
            </div>
            <div class="links"></div>
            <button id="addLink">Add Link</button>
            <button type="submit">Update Profile</button>
        </form>

        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </main>

    <script>
        document.getElementById("main").style.display = "block";
        const links = "<%=links%>";
        const linksArray = links.split(",");
        const linksNames = "<%=linkNames%>";
        const linksNamesArray = linksNames.split(",");
        const linksDiv = document.querySelector('.links');
        linksArray.forEach(link =>
        {
            const index = linksArray.indexOf(link);
            const linkDiv = document.createElement('div');
            linkDiv.innerHTML = `<label for="link${ index }">Link ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="link${ index }" name="link${ index }" value="${ link }" required>`;
            linkDiv.innerHTML += `<label for="linkName${ index }">Link Name ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="linkName${ index }" name="linkName${ index }" value="${ linksNamesArray[index] }" required>`;
            // delete button
            const deleteButton = document.createElement('button');
            deleteButton.innerHTML = 'Delete';
            deleteButton.addEventListener('click', () =>
            {
                linkDiv.remove();
            });
            linkDiv.appendChild(deleteButton);
            linksDiv.appendChild(linkDiv);
        });

        // on click of add link button
        document.getElementById('addLink').addEventListener('click', (e) =>
        {
            e.preventDefault();
            const linksDiv = document.querySelector('.links');
            const linkDiv = document.createElement('div');
            const index = linksDiv.childElementCount;
            if (index >= 50)
            {
                return; // only can add 50 links
            }
            linkDiv.innerHTML = `<label for="link${ index }">Link ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="link${ index }" name="link${ index }" required>`;
            linkDiv.innerHTML += `<label for="linkName${ index }">Link Name ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="linkName${ index }" name="linkName${ index }" required>`;
            // delete button
            const deleteButton = document.createElement('button');
            deleteButton.innerHTML = 'Delete';
            deleteButton.addEventListener('click', () =>
            {
                linkDiv.remove();
            });
            linkDiv.appendChild(deleteButton);
            linksDiv.appendChild(linkDiv);
        });

        let paid = "<%=paid%>";
        paid = (paid === 'true');
        if (paid)
        {
            document.querySelector('#paid').innerHTML += "Yes";
        }
        else
        {
            document.querySelector('#paid').innerHTML += "No";
        }

        let verified = "<%=verified%>";
        verified = (verified === 'true');
        if (verified)
        {
            document.querySelector('#verified').innerHTML += "Yes";
        }
        else
        {
            document.querySelector('#verified').innerHTML += "No";
        }
    </script>
</body>

</html>