<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/edit.css">
    <!-- <script src="js/profile.js"></script> -->

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        Edit Your Profile - @<%=username%>
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <h1>Edit Your Profile - @<%=username%>
        </h1>

        <div id="accountInfo">
            <h2>Account Info</h2>
            <h4 id="verified">Status: </h4>
            <div id="paymentThings">
                <h4 id="planText">Plan: </h4>
                <div id="free" style="display: none;">
                    <p id="freeText"></p>
                    <button id="upgrade" class="btn btn-primary">Upgrade</button>
                </div>
                <div id="paid" style="display: none;">
                    <p id="paidText"></p>
                    <p id="subExpires">Subscription Expires: <%=subExpires%>
                    </p>
                    <button id="cancel" class="btn btn-danger">Cancel Subscription</button>
                </div>
            </div>
        </div>

        <img src="<%=image%>" alt="profile image" id="pfp">

        <form action="/edit" method="POST">
            <div>
                <label for="displayName">Display Name</label>
                <input type="text" id="displayName" name="displayName" value="<%=displayName%>" maxlength="60" required>
            </div>
            <div>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" value="<%=bio%>" maxlength="280" required>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" id="image" name="image" value="<%=image%>" required>
            </div>
            <div class="links"></div>
            <div>
                <button type="button" id="addLink" class="btn btn-primary">Add Another Link</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Update Profile</button>
            </div>
        </form>

        <button type="submit" class="btn btn-warning" id="logoutButton" onclick="logout()">Log Out</button>
        <button type="submit" class="btn btn-danger" id="deleteAccountButton" onclick="deleteAccount()">Delete my
            account</button>
    </main>

    <script>
        const links = "<%=links%>";
        const linksNames = "<%=linkNames%>";
        let paid = "<%=paid%>";
        const verified = `<%=verified%>`;
    </script>
    <script src="js/edit.js"></script>
</body>

</html>