<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/edit.css">
    <!-- <script src="js/profile.js"></script> -->

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        Edit - @<%=username%>
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <h1>Edit Your Profile - @<%=username%>
        </h1>

        <div id="accountInfo">
            <h2>Account Info</h2>
            <h4 id="verified">Status: </h4>
            <div id="paymentThings">
                <h4 id="planText">Plan: </h4>
                <div id="free" style="display: none;">
                    <p id="freeText"></p>
                    <button id="upgrade" class="btn btn-primary">Upgrade</button>
                </div>
                <div id="paid" style="display: none;">
                    <p id="paidText"></p>
                    <p id="subExpires">Subscription Expires: <%=subExpires%>
                    </p>
                    <button id="cancel" class="btn btn-danger">Cancel Subscription</button>
                </div>
            </div>
        </div>

        <img src="<%=image%>" alt="profile image" id="pfp">

        <form action="/edit" method="POST">
            <div>
                <label for="displayName">Display Name</label>
                <input type="text" id="displayName" name="displayName" value="<%=displayName%>" maxlength="60" required>
            </div>
            <div>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" value="<%=bio%>" maxlength="280" required>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" id="image" name="image" value="<%=image%>" required>
            </div>
            <div class="links"></div>
            <div>
                <button type="button" id="addLink" class="btn btn-primary">Add Another Link</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Update Profile</button>
            </div>
        </form>

        <div>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-warning">Log Out</button>
            </form>
            <form action="/delete?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete my account</button>
            </form>
        </div>
    </main>

    <script>
        document.getElementById("main").style.display = "block";
        const links = "<%=links%>";
        const linksArray = links.split(",");
        const linksNames = "<%=linkNames%>";
        const linksNamesArray = linksNames.split(",");
        const linksDiv = document.querySelector('.links');
        linksArray.forEach(link =>
        {
            const index = linksArray.indexOf(link);
            const linkDiv = document.createElement('div');
            linkDiv.innerHTML = `<label for="link${ index }">Link ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="link${ index }" name="link${ index }" value="${ link }" required>`;
            linkDiv.innerHTML += `<label for="linkName${ index }">Link Name ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="linkName${ index }" name="linkName${ index }" value="${ linksNamesArray[index] }" required>`;
            // delete button
            const deleteButton = document.createElement('button');
            deleteButton.classList.add('btn', 'btn-danger');
            deleteButton.innerHTML = 'Delete';
            deleteButton.addEventListener('click', () =>
            {
                linkDiv.remove();
            });
            linkDiv.appendChild(deleteButton);
            linksDiv.appendChild(linkDiv);
        });

        // on click of add link button
        document.getElementById('addLink').addEventListener('click', (e) =>
        {
            e.preventDefault();
            const linksDiv = document.querySelector('.links');
            const linkDiv = document.createElement('div');
            const index = linksDiv.childElementCount;
            if (index >= 50)
            {
                return; // only can add 50 links
            }
            linkDiv.innerHTML = `<label for="link${ index }">Link ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="link${ index }" name="link${ index }" required>`;
            linkDiv.innerHTML += `<label for="linkName${ index }">Link Name ${ index + 1 }</label>`;
            linkDiv.innerHTML += `<input type="text" id="linkName${ index }" name="linkName${ index }" required>`;
            // delete button
            const deleteButton = document.createElement('button');
            deleteButton.classList.add('btn', 'btn-danger');
            deleteButton.innerHTML = 'Delete';
            deleteButton.addEventListener('click', () =>
            {
                linkDiv.remove();
            });
            linkDiv.appendChild(deleteButton);
            linksDiv.appendChild(linkDiv);
        });

        let paid = "<%=paid%>";
        paid = (paid === 'true');
        if (paid)
        {
            document.getElementById('planText').innerHTML += 'Paid';
            document.getElementById('paid').style.display = 'block';
        }
        else
        {
            document.getElementById('planText').innerHTML += 'Free';
            document.getElementById('free').style.display = 'block';
        }

        let verified = "<%=verified%>";
        if (verified === `2`)
        {
            document.getElementById("verified").innerHTML += "Staff Member";
            document.getElementById('paymentThings').style.display = 'none';
        }
        else if (verified === `1`)
        {
            document.getElementById("verified").innerHTML += "Verified";
        }
        else
        {
            document.getElementById("verified").style.display = "none";
        }
    </script>
</body>

</html>