<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/edit.css">
    <!-- <script src="js/profile.js"></script> -->

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        Edit Your Profile - @<%=username%>
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <h1>Edit Your Profile - @<%=username%>
        </h1>

        <div id="accountInfo">
            <h2>Account Info</h2>
            <h4 id="verified">Status: </h4>
            <div id="paymentThings">
                <h4 id="planText">Plan: </h4>
                <div id="free" style="display: none;">
                    <p id="freeText"></p>
                    <button id="upgrade" class="btn btn-primary">Upgrade</button>
                </div>
                <div id="paid" style="display: none;">
                    <p id="paidText"></p>
                    <p id="subExpires">Subscription Expires: <%=subExpires%>
                    </p>
                    <button id="cancel" class="btn btn-danger">Cancel Subscription</button>
                </div>
            </div>
        </div>

        <img src="<%=image%>" alt="profile image" id="pfp">

        <form action="/edit" method="POST">
            <div>
                <label for="displayName">Display Name</label>
                <input type="text" id="displayName" name="displayName" value="<%=displayName%>" maxlength="60" required>
            </div>
            <div>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" value="<%=bio%>" maxlength="280" required>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" id="image" name="image" value="<%=image%>" required>
            </div>
            <div class="links"></div>
            <div>
                <button type="button" id="addLink" class="btn btn-primary">Add Another Link</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Update Profile</button>
            </div>
        </form>

        <button type="submit" class="btn btn-warning" id="logoutButton" onclick="logout()">Log Out</button>
        <button type="submit" class="btn btn-danger" id="deleteAccountButton" data-bs-toggle="modal"
            data-bs-target="#deleteAccountModal">Delete my account</button>
        <button type="submit" class="btn btn-danger" id="changeEmail" data-bs-toggle="modal"
            data-bs-target="#changeEmailModal" data-email="">Change Email</button>
        <button type="submit" class="btn btn-danger" id="changePassword" data-bs-toggle="modal"
            data-bs-target="#changePasswordModal">Change Password</button>
        <button type="submit" class="btn btn-danger" id="changeUsername" data-bs-toggle="modal"
            data-bs-target="#changeUsernameModal">Change Username</button>


        <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog"
            aria-labelledby="changeEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changeEmailForm">
                            <div class="form-group">
                                <label for="modal-email" class="col-form-label">Old Email:</label>
                                <input type="email" class="form-control" id="modal-email" maxlength="1024" required>
                            </div>
                            <div class="form-group">
                                <label for="modal-new-email" class="col-form-label">New Email:</label>
                                <input type="email" class="form-control" id="modal-new-email" maxlength="1024" required>
                            </div>
                            <div class="form-group">
                                <label for="modal-password" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="modal-password" maxlength="1024"
                                    required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            onclick="changeEmail(`${document.getElementById('modal-email').value}`, `${document.getElementById('modal-new-email').value}`, `${document.getElementById('modal-password').value}`);">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
            aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm">
                            <div class="form-group">
                                <label for="modal-old-password" class="col-form-label">Old Password:</label>
                                <input type="password" class="form-control" id="modal-old-password" maxlength="1024"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="modal-new-password" class="col-form-label">New Password:</label>
                                <input type="password" class="form-control" id="modal-new-password" maxlength="1024"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="modal-new-password2" class="col-form-label">New Password:</label>
                                <input type="password" class="form-control" id="modal-new-password2" maxlength="1024"
                                    required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            onclick="changePassword(`${document.getElementById('modal-old-password').value}`, `${document.getElementById('modal-new-password').value}`, `${document.getElementById('modal-new-password2').value}`);">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteAccountForm">
                            <div class="form-group">
                                <label for="modal-delete-password" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="modal-delete-password" maxlength="1024"
                                    required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger"
                            onclick="deleteAccount(`${document.getElementById('modal-delete-password').value}`);">Yes,
                            delete
                            my
                            account</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog"
            aria-labelledby="changeUsernameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeUsernameModalLabel">Change Username</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changeUsernameForm">
                            <div class="form-group">
                                <label for="modal-change-username" class="col-form-label">New Username:</label>
                                <input type="text" class="form-control" id="modal-change-username" maxlength="60"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="modal-cu-password" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="modal-cu-password" maxlength="1024"
                                    required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            onclick="changeUsername(`${document.getElementById('modal-change-username').value}`, `${document.getElementById('modal-cu-password').value}`);">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const links = "<%=links%>";
        const linksNames = "<%=linkNames%>";
        let paid = "<%=paid%>";
        const verified = `<%=verified%>`;
    </script>
    <script src="js/edit.js"></script>
</body>

</html>