<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/profile.css">
    <script src="js/profile.js"></script>

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        <%=displayName%>
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <p id="username">@<%=username%>
        </p>
        <p id="bio">
            <%=bio%>
        </p>
        <img src="<%=image%>" alt="profile image" id="pfp">
        <div class="links"></div>
        <p class="ad" style="display: none;">ad here</p>
    </main>

    <script>
        document.getElementById("main").style.display = "block";

        let paid = "<%=paid%>";
        paid = (paid === 'true');
        if (!paid)
            document.querySelector('.ad').style.display = "block";

        let verified = "<%=verified%>";
        verified = (verified === 'true');

        const links = "<%=links%>";
        let linksArray = links.split(",");
        if (!paid)
        {
            linksArray = linksArray.slice(0, 7);
        }
        const linksNames = "<%=linkNames%>";
        let linksNamesArray = linksNames.split(",");
        if (!paid)
        {
            linksNamesArray = linksNamesArray.slice(0, 7);
        }
        const linksDiv = document.querySelector('.links');
        linksArray.forEach(link =>
        {
            const index = linksArray.indexOf(link);
            const linkDiv = document.createElement('div');
            linkDiv.innerHTML = `<a href="${ link }">${ linksNamesArray[index] }</a>`;
            linksDiv.appendChild(linkDiv);
        });
    </script>
</body>

</html>