<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/staff.css">

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        linktree-clone-idea
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <main class="container">
            <details class="text-white m-1 p-4">
                <summary>Statistics</summary>
                <div class="bg-dark p-4 m-1 rounded">
                    <div class="stats ">
                        <h4 class="text-white">Number of Users <span class="badge bg-primary">
                                <%=userCountTotal%>
                            </span></h4>
                        <h4 class="text-white">Paying Users <span class="badge bg-success">
                                <%=paidCount%>
                            </span></h4>
                        <h4 class="text-white">Free Users <span class="badge bg-secondary">
                                <%=freeCount%>
                            </span></h4>
                        <h4 class="text-white">Verified Users <span class="badge bg-info">
                                <%=verifiedCount%>
                            </span></h4>
                        <h4 class="text-white">Staff <span class="badge bg-warning">
                                <%=staffCount%>
                            </span></h4>
                        <h4 class="text-white">Suspended Users <span class="badge bg-danger">
                                <%=suspendedCount%>
                            </span></h4>
                    </div>
            </details>

            <div class="tableNav"></div>
            <table class="table table-dark" id="users">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Subscription Expires</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="usersBody">
                </tbody>
            </table>
            <div class="tableNav"></div>
            </div>


            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modal-username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" id="modal-username" maxlength="60" required>
                                </div>
                                <div class="form-group">
                                    <label for="modal-email" class="col-form-label">Email:</label>
                                    <input type="text" class="form-control" id="modal-email" maxlength="1024" required>
                                </div>
                                <div class="form-group">
                                    <label for="modal-displayName" class="col-form-label">Display Name:</label>
                                    <input class="form-control" id="modal-displayName" required maxlength="60"></input>
                                </div>
                                <div class="form-group">
                                    <label for="modal-bio" class="col-form-label">Bio:</label>
                                    <input class="form-control" id="modal-bio" required maxlength="280"></input>
                                </div>
                                <div class="form-group">
                                    <label for="modal-image" class="col-form-label">Image:</label>
                                    <input class="form-control" id="modal-image" required readonly></input>
                                    <button style="margin-top:5px;" type="button" class="btn btn-danger"
                                        onclick="document.getElementById('modal-image').value = `${window.location.href.split(`?`)[0].slice(0, -6)}/img/person.png`;">Reset
                                        Image</button>
                                </div>
                                <div class="form-group">
                                    <label for="modal-links" class="col-form-label">Links:</label>
                                    <textarea class="form-control" id="modal-links" rows="" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="modal-linkNames" class="col-form-label">Link Names:</label>
                                    <textarea class="form-control" id="modal-linkNames" rows="" required></textarea>
                                </div>
                                <p id="editingUserOldName" style="display:none;"></p>
                                <div>
                                    <button style="margin-top:5px;" type="button" class="btn btn-danger"
                                        onclick="document.getElementById('modal-links').value = `[]`; document.getElementById('modal-linkNames').value = `[]`; document.getElementById('modal-links').rows = 2; document.getElementById('modal-linkNames').rows = 2;">Remove
                                        All Links</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="prepareUserEdit();">Save
                                Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </main>

    <script>
        const myUsername = "<%=myUsername%>"
        const numberOfUsers = "<%=numberOfUsers%>";
        const usernames = "<%=usernames%>";
        const emails = "<%=emails%>";
        const verified = "<%=verified%>";
        const paid = "<%=paid%>";
        const subExpires = "<%=subExpires%>";
        const displayNames = "<%=displayNames%>";
        const bios = "<%=bios%>";
        const images = "<%=images%>";
        const links = "<%=links%>";
        const linkNames = "<%=linkNames%>";
    </script>
    <script src="js/staff.js"></script>
</body>

</html>