<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Edit Your Profile - @<%=username%>
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/uppy.min.css">

    <link rel="stylesheet" href="css/edit.css">
    <link rel="icon" type="image/png" href="<%=ourImage%>">
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">

        <nav class="navbar navbar-dark bg-dark navbar-expand-sm justify-content-between" style="margin-bottom: 15px;">
            <div class="container-fluid" id="navbar-brand">
                <div>
                    <a class="nav-link" href="../"><img src="../img/logo.png" class="navbar-brand"
                            style="margin-left: 15px; max-height: 64px;" /></a>
                </div>
            </div>
            <div class="navbar-collapse dropstart navbar-dark bg-dark" id="navbar-list-4"
                style="flex-grow: 0; margin-right: 15px;">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="<%=image%>" width="40" height="40" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu" id="profileDropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" id="viewMyProfileButton" href="./<%=username%>"
                                target="_blank">View my Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changeImageModal">Change Profile Picture</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changeUsernameModal">Change Username</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changeEmailModal">Change Email</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changePasswordModal">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#deleteAccountModal">Delete Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="logout();">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="accountInfo">
            <h2>Account Info</h2>
            <h4 id="verified">Status: </h4>
            <div id="paymentThings">
                <h4 id="planText">Plan: </h4>
                <div id="free" style="display: none;">
                    <p id="freeText"></p>
                    <details id="linkWhitelistDetails">
                        <summary>Link Whitelist</summary>
                        <ul id="whitelist"></ul>
                    </details>
                    <button id="upgrade" class="btn btn-primary" onclick="window.open('../upgrade');">Upgrade</button>
                </div>
                <div id="paid" style="display: none;">
                    <p id="paidText"></p>
                    <button id="cancel" class="btn btn-primary" onclick="window.open('../downgrade');">Manage
                        Subscription</button>
                </div>
            </div>
            <hr>
        </div>

        <div id="liveAlertPlaceholder"></div>
        <div id="bugUserToVerify" style="display: none;">
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> You have not verified your email address. Your profile will not be visible
                until you verify your account.
                Please check your email for a
                verification
                link. If you did not receive an email, please check your spam folder or <a
                    href="../resendactivationemail">click
                    here</a> to resend the verification email.
            </div>
        </div>

        <form action="/edit" method="POST">
            <div>
                <label class="" for="adultContent">My profile contains links to 18+ sites.</label>
                <input class="form-check-input" type="checkbox" name="adultContent" id="adultContent"
                    value="<%=ageGated%>" <%=ageGated%>>
            </div>
            <div>
                <label for="themeOptions" class="form-label">Page Theme</label>
                <select class="form-select" id="themeOptions" name="theme" required></select>
            </div>
            <div id="advancedThemes">
                <label for="backgroundColor" class="">Background Color</label>
                <input type="color" class="colorPicker" id="backgroundColor" name="backgroundColor"
                    value="<%=backgroundColor%>">
                <label for="textColor" class="">Text Color</label>
                <input type="color" class="colorPicker" id="textColor" name="textColor" value="<%=textColor%>">
                <label for="borderColor" class="">Border Color</label>
                <input type="color" class="colorPicker" id="borderColor" name="borderColor" value="<%=borderColor%>">
            </div>
            <div>
                <label for="displayName">Page Title</label>
                <input type="text" id="displayName" name="displayName" value="<%=displayName%>" placeholder="Page Title"
                    maxlength="60" required>
            </div>
            <div>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" value="<%=bio%>" placeholder="No bio yet." maxlength="280"
                    required>
            </div>
            <div style="display: none;">
                <label for="image">Image</label>
                <input type="text" id="image" name="image" value="<%=image%>" required readonly>
            </div>
            <div class="links"></div>
            <div>
                <button type="button" id="addLink" class="btn btn-primary">Add Link</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success" id="updateProfileSubmitButton">Update Profile</button>
            </div>
        </form>

        <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog"
            aria-labelledby="changeEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changeEmailForm"
                            onsubmit="changeEmail(`${document.getElementById('modal-email').value}`, `${document.getElementById('modal-new-email').value}`, `${document.getElementById('modal-password').value}`); return false;">
                            <div class="form-group">
                                <input type="email" class="form-control modalInput" id="modal-email" maxlength="512"
                                    required placeholder="Old Email">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control modalInput" id="modal-new-email" maxlength="512"
                                    required placeholder="New Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-password"
                                    maxlength="1024" required placeholder="Password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save
                                    Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
            aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm"
                            onsubmit="changePassword(`${document.getElementById('modal-old-password').value}`, `${document.getElementById('modal-new-password').value}`, `${document.getElementById('modal-new-password2').value}`); return false;">
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-old-password"
                                    maxlength="1024" required placeholder="Old Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-new-password"
                                    maxlength="1024" required placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-new-password2"
                                    maxlength="1024" required placeholder="New Password Again">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save
                                    Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteAccountForm"
                            onsubmit="deleteAccount(`${document.getElementById('modal-delete-password').value}`); return false;">
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-delete-password"
                                    maxlength="1024" required placeholder="Password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Yes,
                                    delete
                                    my
                                    account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog"
            aria-labelledby="changeUsernameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeUsernameModalLabel">Change Username</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changeUsernameForm"
                            onsubmit="changeUsername(`${document.getElementById('modal-change-username').value}`, `${document.getElementById('modal-cu-password').value}`); return false;">
                            <div class="form-group">
                                <input type="text" class="form-control modalInput" id="modal-change-username"
                                    maxlength="60" required placeholder="New Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-cu-password"
                                    maxlength="1024" required placeholder="Password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save
                                    Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeImageModal" tabindex="-1" role="dialog"
            aria-labelledby="changeImageModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="drag-drop-area"></div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const linkWhitelist = `<%=linkWhitelist%>`.split(`,`);
        const links = `<%=links%>`;
        const linksNames = decodeURIComponent(atob(`<%=linkNames%>`));
        let paid = `<%=paid%>`;
        const verified = Number.parseInt(`<%=verified%>`, 10);
        const userTheme = `<%=theme%>`;
        let themes = `<%=themes%>`;
        themes = themes.split(`,`);
        for (let index = 0; index < themes.length; index++)
            document.querySelector(`#themeOptions`).innerHTML += `<option value="${ themes[index] }">${ themes[index] }</option>`;
        if (paid === `1` || paid === `true`)
            document.querySelector(`#themeOptions`).innerHTML += `<option value="Custom">Custom</option>`;
        document.querySelector(`#themeOptions`).value = userTheme;
        const csrfToken = "<%=csrfToken%>";
    </script>
    <script type="module">
        import
        {
            Uppy, Dashboard, XHRUpload, ImageEditor, Compressor
        } from "../js/uppy.min.mjs";

        const protocol = window.location.protocol;
        const domain = window.location.href.split(`/`)[2];
        const uploadDirectory = `${ protocol }//${ domain }/img`;

        const uppy = new Uppy({
            autoProceed: false,
            allowMultipleUploadBatches: false,
            restrictions: {
                maxFileSize: 8_388_608,
                minFileSize: null,
                maxNumberOfFiles: 1,
                allowedFileTypes: [`image/*`],
                requiredMetaFields: [],
            },
        })
            .use(Dashboard, {
                inline: true,
                target: `#drag-drop-area`,
                width: `100%`,
                proudlyDisplayPoweredByUppy: false,
            })
            .use(ImageEditor, {
                target: Dashboard,
                quality: 0.6,
                cropperOptions: {
                    viewMode: 1,
                    background: false,
                    autoCropArea: 0.8,
                    responsive: true,
                    croppedCanvasOptions: {},
                },
                actions: {
                    revert: true,
                    rotate: true,
                    granularRotate: false,
                    flip: true,
                    zoomIn: true,
                    zoomOut: true,
                    cropSquare: true,
                    cropWidescreen: false,
                    cropWidescreenVertical: false,
                },
            })
            .use(Compressor, {
                quality: 0.6,
            })
            .use(XHRUpload, {
                endpoint: uploadDirectory,
                fieldName: `photo`,
                formData: true,
            });

        uppy.on(`file-added`, (file) =>
        {
            setTimeout(() =>
            {
                const editButton = document.querySelector(`.uppy-Dashboard-Item-action--edit`);
                editButton.click();
            }, 150);
        });

        uppy.on(`file-editor:complete`, (updatedFile) =>
        {
            setTimeout(() =>
            {
                const editButton = document.querySelector(`.uppy-StatusBar-actionBtn--upload`);
                editButton.click();
            }, 150);
        });

        uppy.on(`complete`, (result) =>
        {
            document.querySelector(`#image`).value = result.successful[0].response.body.url;
            document.querySelector(`#updateProfileSubmitButton`).click();
        });

        uppy.on(`error`, (error) =>
        {
            window.location.reload();
        });

    </script>
    <script src="js/common.js"></script>
    <script src="js/edit.js"></script>
</body>

</html>