<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Edit Your Profile - @<%=username%>
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/uppy.min.css">

    <link rel="stylesheet" href="css/edit.css">
    <link rel="icon" type="image/png" href="<%=ourImage%>">
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">

        <nav class="navbar navbar-dark bg-dark navbar-expand-sm justify-content-between" style="margin-bottom: 15px;">
            <a class="navbar-brand" href="#" style="margin-left: 15px;">
                projectName
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse dropstart navbar-dark bg-dark" id="navbar-list-4"
                style="flex-grow: 0; margin-right: 15px;">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="<%=image%>" width="40" height="40" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu" id="profileDropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="./<%=username%>" target="_blank">View my Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changeImageModal">Change Profile Picture</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changeUsernameModal">Change Username</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changeEmailModal">Change Email</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#changePasswordModal">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#deleteAccountModal">Delete Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="logout();">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="accountInfo">
            <h2>Account Info</h2>
            <h4 id="verified">Status: </h4>
            <div id="paymentThings">
                <h4 id="planText">Plan: </h4>
                <div id="free" style="display: none;">
                    <p id="freeText"></p>
                    <button id="upgrade" class="btn btn-primary">Upgrade</button>
                </div>
                <div id="paid" style="display: none;">
                    <p id="paidText"></p>
                    <p id="subExpires">Subscription Expires: <%=subExpires%>
                    </p>
                    <button id="cancel" class="btn btn-danger">Cancel Subscription</button>
                </div>
            </div>
            <hr>
        </div>

        <div id="liveAlertPlaceholder"></div>

        <form action="/edit" method="POST">
            <div>
                <label for="themePicker" class="form-label">Theme</label>
                <input type="text" class="" list="themeOptions" id="themePicker" name="theme"
                    placeholder="Type to search..." value="<%=theme%>" required>
                <datalist id="themeOptions"></datalist>
            </div>
            <div id="advancedThemes">
                <label for="backgroundColor" class="">Background Color</label>
                <input type="color" class="colorPicker" id="backgroundColor" name="backgroundColor"
                    value="<%=backgroundColor%>">
                <label for="textColor" class="">Text Color</label>
                <input type="color" class="colorPicker" id="textColor" name="textColor" value="<%=textColor%>">
                <label for="borderColor" class="">Border Color</label>
                <input type="color" class="colorPicker" id="borderColor" name="borderColor" value="<%=borderColor%>">
                <div id="" style="display: none;">
                    <input type="text" class="finalCSS" id="finalCSS" name="finalCSS" readonly required>
                </div>
            </div>
            <div>
                <label for="displayName">Page Title</label>
                <input type="text" id="displayName" name="displayName" value="<%=displayName%>" placeholder="Page Title"
                    maxlength="60" required>
            </div>
            <div>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" value="<%=bio%>" placeholder="No bio yet." maxlength="280"
                    required>
            </div>
            <div style="display: none;">
                <label for="image">Image</label>
                <input type="text" id="image" name="image" value="<%=image%>" required readonly>
            </div>
            <div class="links"></div>
            <div>
                <button type="button" id="addLink" class="btn btn-primary">Add Another Link</button>
            </div>
            <div>
                <button type="submit" class="btn btn-success" id="updateProfileSubmitButton">Update Profile</button>
            </div>
        </form>


        <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog"
            aria-labelledby="changeEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changeEmailForm">
                            <div class="form-group">
                                <input type="email" class="form-control modalInput" id="modal-email" maxlength="1024"
                                    required placeholder="Old Email">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control modalInput" id="modal-new-email"
                                    maxlength="1024" required placeholder="New Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-password"
                                    maxlength="1024" required placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            onclick="changeEmail(`${document.getElementById('modal-email').value}`, `${document.getElementById('modal-new-email').value}`, `${document.getElementById('modal-password').value}`);">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
            aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm">
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-old-password"
                                    maxlength="1024" required placeholder="Old Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-new-password"
                                    maxlength="1024" required placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-new-password2"
                                    maxlength="1024" required placeholder="New Password Again">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            onclick="changePassword(`${document.getElementById('modal-old-password').value}`, `${document.getElementById('modal-new-password').value}`, `${document.getElementById('modal-new-password2').value}`);">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteAccountForm">
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-delete-password"
                                    maxlength="1024" required placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger"
                            onclick="deleteAccount(`${document.getElementById('modal-delete-password').value}`);">Yes,
                            delete
                            my
                            account</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog"
            aria-labelledby="changeUsernameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeUsernameModalLabel">Change Username</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="changeUsernameForm">
                            <div class="form-group">
                                <input type="text" class="form-control modalInput" id="modal-change-username"
                                    maxlength="60" required placeholder="New Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control modalInput" id="modal-cu-password"
                                    maxlength="1024" required placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            onclick="changeUsername(`${document.getElementById('modal-change-username').value}`, `${document.getElementById('modal-cu-password').value}`);">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeImageModal" tabindex="-1" role="dialog"
            aria-labelledby="changeImageModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="drag-drop-area"></div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const links = "<%=links%>";
        const linksNames = "<%=linkNames%>";
        let paid = "<%=paid%>";
        const verified = `<%=verified%>`;

        let themes = `<%=themes%>`;
        themes = themes.split(",");
        for (let i = 0; i < themes.length; i++)
        {
            document.getElementById("themeOptions").innerHTML += `<option value="${ themes[i] }">${ themes[i] }</option>`;
        }
        if (paid === `1` || paid === `true`)
            document.getElementById("themeOptions").innerHTML += `<option value="Custom">Custom</option>`;

        const userTheme = `<%=theme%>`;
        const advancedTheme = `<%-advancedTheme%>`;
    </script>
    <script src="js/edit.js"></script>
    <script type="module">
        const protocol = window.location.protocol;
        const domain = window.location.href.split(`/`)[2];
        const uploadDirectory = `${ protocol }//${ domain }/img`;
        import { Uppy, Dashboard, XHRUpload, ImageEditor, Compressor } from "../js/uppy.min.mjs"
        const uppy = new Uppy({
            autoProceed: false,
            allowMultipleUploadBatches: false,
            restrictions: {
                maxFileSize: 8388608,
                minFileSize: null,
                maxNumberOfFiles: 1,
                allowedFileTypes: [`image/*`],
                requiredMetaFields: [],
            },
        })
            .use(Dashboard, {
                inline: true,
                target: `#drag-drop-area`,
            })
            .use(ImageEditor, {
                target: Dashboard,
                quality: 0.6,
                cropperOptions: {
                    viewMode: 1,
                    background: false,
                    autoCropArea: 0.8,
                    responsive: true,
                    croppedCanvasOptions: {},
                },
                actions: {
                    revert: true,
                    rotate: true,
                    granularRotate: false,
                    flip: true,
                    zoomIn: true,
                    zoomOut: true,
                    cropSquare: true,
                    cropWidescreen: false,
                    cropWidescreenVertical: false,
                },
            })
            .use(Compressor, {
                quality: 0.6,
            })
            .use(XHRUpload, {
                endpoint: uploadDirectory,
                fieldName: `photo`,
                formData: true,
            });

        uppy.on('file-added', (file) =>
        {
            setTimeout(() =>
            {
                const editButton = document.querySelector(`.uppy-Dashboard-Item-action--edit`);
                editButton.click();
            }, 150);
        });

        uppy.on('file-editor:complete', (updatedFile) =>
        {
            setTimeout(() =>
            {
                const editButton = document.querySelector(`.uppy-StatusBar-actionBtn--upload`);
                editButton.click();
            }, 150);
        });

        uppy.on('complete', (result) =>
        {
            document.getElementById(`image`).value = result.successful[0].response.body.url;
            document.getElementById(`updateProfileSubmitButton`).click();
        });

        uppy.on('error', (error) =>
        {
            window.location.reload();
        });
    </script>
</body>

</html>