<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
    <title>
        <%=projectName%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=projectDescription%>" />
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="<%=projectName%>" />
    <meta property="og:description" content="<%=projectDescription%>" />
    <meta property="og:image" content="<%=image%>" />
    <meta property="og:type" content="website" />

    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" type="image/png" href="<%=image%>">
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">

        <nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <div>
                    <a class="nav-link" href="#"><img src="../img/logo.png" class="navbar-brand"
                            style="margin-left: 15px; max-height: 64px;" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
                    style="margin-right: 15px;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="#showcase">Showcase</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="editProfileHeader" href="/edit">edit profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logoutHeader" href="#" onclick="logout();">logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="loginHeader" href="/login">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="registerHeader" href="/register">register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="hero" id="heroOne">
            <div class="hero-inner">
                <h1>the simple to use social media landing page</h1>
                <h3 style="padding-bottom: 15px;">try it out now completely free</h3>
                <input type="text" placeholder="username" id="username" style="margin-bottom: 15px;" maxlength="60"
                    oninput="document.getElementById(`demoUrl`).innerText=`${window.location.protocol}\/\/${window.location.href.split(`/`)[2]}\/${document.getElementById(`username`).value}`" />
                <p id="demoUrl"></p>
                <button class="btn" id="claimButton"
                    onclick="window.open(`/register?username=${document.getElementById(`username`).value.toLowerCase()}`);">claim</button>
            </div>
        </section>

        <section class="hero" id="showcase">
            <div class="hero-inner">
                <h1>see it in action</h1>
                <div id="showcaseImageDiv">
                    <img class="showcaseImages" id="example1" src="../img/example1.jpg" />
                    <img class="showcaseImages" id="example2" src="../img/example2.jpg" />
                    <img class="showcaseImages" id="example3" src="../img/example3.jpg" />
                </div>
            </div>
        </section>

        <section class="hero" id="pricing">
            <div class="hero-inner">
                <h1 style="padding-bottom: 10px;">pricing</h1>
                <div class="row row-cols-1 row-cols-md-2 mb-3 text-center align-items-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">free</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$0</h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>7 links</li>
                                    <li>link filter</li>
                                    <li>limited theming</li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                    onclick="window.open('./register');">get started</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">pro</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$12<small
                                        class="text-muted fw-light">/yr</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>50 links</li>
                                    <li>no link filter</li>
                                    <li>custom theming</li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-primary"
                                    onclick="window.open('./upgrade');">get started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="half-hero" id="footer">
            <div class="hero-inner footerDiv">
                <ul class="footerLinks">
                    <li><a href="/tos" target="_blank">terms of service</a></li>
                    <li><a href="/privacy" target="_blank">privacy policy</a></li>
                    <li><a href="/report" target="_blank">report abuse/dmca</a></li>
                </ul>
            </div>
        </section>

    </main>
    <script>
        let isLoggedIn = `<%=isLoggedIn%>`;
    </script>
    <script src="js/common.js"></script>
    <script src="js/home.js"></script>
</body>

</html>