<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
    <title>
        Login - <%=projectName%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=projectDescription%>" />
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="Login - <%=projectName%>" />
    <meta property="og:description" content="<%=projectDescription%>" />
    <meta property="og:image" content="<%=image%>" />
    <meta property="og:type" content="website" />

    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="../js/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/auth.css">
    <link rel="icon" type="image/png" href="<%=image%>">
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <div class="wrapper">
            <div id="liveAlertPlaceholder"></div>

            <div id="formContent">

                <div id="formHeader">
                    <a href="/register" class="underlineHover">Don't have an account? Register</a>
                </div>
                <div id="formHeaderPadding"></div>
                <form action="" method="POST">
                    <input type="email" id="email" class="" name="email" required maxlength="512" placeholder="Email">
                    <input type="password" id="password" class="" required name="password" maxlength="1024"
                        placeholder="Password">
                    <div id="formSubmitPadding"></div>
                    <div class="h-captcha" data-sitekey="<%=hcaptchaSiteKey%>">
                    </div>
                    <div id="formSubmitPadding"></div>
                    <input type="submit" class="" value="Log In">
                </form>

                <div id="formFooter">
                    <a href="../forgotpassword" class="underlineHover">Forgot Password?</a>
                </div>
            </div>
    </main>
    <script src="js/auth.js"></script>
</body>

</html>