<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Staff Portal - <%=projectName%>
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/staff.css">
    <link rel="icon" type="image/png" href="<%=ourImage%>">
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <main class="container">
            <details class="text-white m-1 p-4">
                <summary>User Statistics</summary>
                <div class="bg-dark p-4 m-1 rounded">
                    <div class="stats ">
                        <h4 class="text-white">Total <span class="badge bg-primary" id="userCountTotal"></span>
                        </h4>
                        <h4 class="text-white">Paying <span class="badge bg-success" id="paidCount"></span></h4>
                        <h4 class="text-white">Free <span class="badge bg-secondary" id="freeCount"></span></h4>
                        <h4 class="text-white">Verified <span class="badge bg-info" id="verifiedCount"> </span>
                        </h4>
                        <h4 class="text-white">Staff <span class="badge bg-warning" id="staffCount"></span></h4>
                        <h4 class="text-white">Awaiting Email Activation <span class="badge bg-secondary"
                                id="awaitingEmailUserCount"></span></h4>
                        <h4 class="text-white">Suspended <span class="badge bg-danger" id="suspendedCount"></span>
                        </h4>
                        <h4 class="text-white">Shadow Profiles <span class="badge bg-secondary"
                                id="shadowUserCount"></span></h4>
                    </div>
            </details>

            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createShadowUserModal">Create
                Shadow
                Profile</button>
            <hr>

            <div class="tableNav"></div>
            <table class="table table-dark" id="users">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Subscription Expires</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="usersBody">
                </tbody>
            </table>
            <div class="tableNav"></div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form onsubmit="prepareUserEdit(); return false;">
                                <div class="form-group">
                                    <label for="modal-username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" id="modal-username" maxlength="60" required>
                                </div>
                                <div class="form-group">
                                    <label for="modal-email" class="col-form-label">Email:</label>
                                    <input type="text" class="form-control" id="modal-email" maxlength="512" required>
                                </div>
                                <div class="form-group">
                                    <label for="modal-displayName" class="col-form-label">Display Name:</label>
                                    <input class="form-control" id="modal-displayName" required maxlength="60"></input>
                                </div>
                                <div class="form-group">
                                    <label for="modal-bio" class="col-form-label">Bio:</label>
                                    <input class="form-control" id="modal-bio" required maxlength="280"></input>
                                </div>
                                <div class="form-group">
                                    <label for="modal-image" class="col-form-label">Image:</label>
                                    <input class="form-control" id="modal-image" required readonly></input>
                                    <button style="margin-top:5px;" type="button" class="btn btn-danger"
                                        onclick="document.getElementById('modal-image').value = `${window.location.href.split(`?`)[0].slice(0, -6)}/img/person.png`;">Reset
                                        Image</button>
                                </div>
                                <div class="form-group">
                                    <label for="modal-links" class="col-form-label">Links:</label>
                                    <textarea class="form-control" id="modal-links" rows="" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="modal-linkNames" class="col-form-label">Link Names:</label>
                                    <textarea class="form-control" id="modal-linkNames" rows="" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="" for="modal-ageGated">Profile is age gated?</label>
                                    <input class="form-check-input" type="checkbox" name="modal-ageGated"
                                        id="modal-ageGated" value="">
                                </div>
                                <p id="editingUserOldName" style="display:none;"></p>
                                <div>
                                    <button style="margin-top:5px;" type="button" class="btn btn-danger"
                                        onclick="document.getElementById('modal-links').value = `[]`; document.getElementById('modal-linkNames').value = `[]`; document.getElementById('modal-links').rows = 2; document.getElementById('modal-linkNames').rows = 2;">Remove
                                        All Links</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save
                                        Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="createShadowUserModal" tabindex="-1" role="dialog"
                aria-labelledby="createShadowUserModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createShadowUserModalLabel">Create Shadow User</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form onsubmit="createShadowUser(); return false;">
                                <div class="form-group">
                                    <label for="modal-shadow-username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" id="modal-shadow-username" maxlength="60"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="modal-shadow-redirect" class="col-form-label">Redirect To:</label>
                                    <input type="text" class="form-control" id="modal-shadow-redirect" maxlength="60"
                                        required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save
                                        Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editShadowModal" tabindex="-1" role="dialog"
                aria-labelledby="editShadowModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editShadowModalLabel">Edit User</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form
                                onsubmit="shadowUserEdit(`${document.getElementById(`editShadowModalLabel`).innerText.split(`: `)[1]}`); return false;">
                                <div class="form-group">
                                    <label for="modal-edit-shadow-displayName" class="col-form-label">Redirect
                                        To:</label>
                                    <input class="form-control" id="modal-edit-shadow-displayName" required
                                        maxlength="60"></input>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save
                                        Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </main>

    <script>
        const myUsername = "<%=myUsername%>"
        const numberOfUsers = "<%=numberOfUsers%>";
        const usernames = "<%=usernames%>";
        const emails = "<%=emails%>";
        const verified = "<%=verified%>";
        const paid = "<%=paid%>";
        const subExpires = "<%=subExpires%>";
        const displayNames = "<%=displayNames%>";
        const bios = "<%=bios%>";
        const images = "<%=images%>";
        const links = "<%=links%>";
        const linkNames = "<%=linkNames%>";
        const ageGatedUsers = "<%=ageGated%>";

        const userCountTotal = `<%=userCountTotal%>`;
        const verifiedCount = `<%=verifiedCount%>`;
        const paidCount = `<%=paidCount %>`;
        const suspendedCount = `<%=suspendedCount%>`;
        const staffCount = `<%=staffCount%>`;
        const freeCount = `<%=freeCount%>`;
        const shadowUserCount = `<%=shadowUserCount%>`;
        const awaitingEmailUserCount = `<%=awaitingEmailUserCount%>`;

        const percentOfUsersVerified = Math.round((verifiedCount / userCountTotal) * 100);
        const percentOfUsersPaid = Math.round((paidCount / userCountTotal) * 100);
        const percentOfUsersSuspended = Math.round((suspendedCount / userCountTotal) * 100);
        const percentOfUsersStaff = Math.round((staffCount / userCountTotal) * 100);
        const percentOfUsersFree = Math.round((freeCount / userCountTotal) * 100);
        const percentOfUsersShadow = Math.round((shadowUserCount / (userCountTotal + shadowUserCount)) * 100);
        const percentOfUsersAwaitingEmail = Math.round((awaitingEmailUserCount / userCountTotal) * 100);

        document.getElementById(`userCountTotal`).innerText = userCountTotal;
        document.getElementById(`paidCount`).innerText = `${ paidCount } (${ percentOfUsersPaid }%)`;
        document.getElementById(`verifiedCount`).innerText = `${ verifiedCount } (${ percentOfUsersVerified }%)`;
        document.getElementById(`suspendedCount`).innerText = `${ suspendedCount } (${ percentOfUsersSuspended }%)`;
        document.getElementById(`staffCount`).innerText = `${ staffCount } (${ percentOfUsersStaff }%)`;
        document.getElementById(`freeCount`).innerText = `${ freeCount } (${ percentOfUsersFree }%)`;
        document.getElementById(`shadowUserCount`).innerText = shadowUserCount;
        document.getElementById(`awaitingEmailUserCount`).innerText = `${ awaitingEmailUserCount } (${ percentOfUsersAwaitingEmail }%)`;

    </script>
    <script src="js/common.js"></script>
    <script src="js/staff.js"></script>
</body>

</html>