<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Terms of Service - <%=projectName%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=projectDescription%>" />
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="<%=projectName%>" />
    <meta property="og:description" content="<%=projectDescription%>" />
    <meta property="og:image" content="<%=ourImage%>" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="css/legal.css">
    <link rel="icon" type="image/png" href="<%=ourImage%>">
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <h1>tos page</h1>
    </main>
    <script src="js/legal.js"></script>
</body>

</html>